body {
    background-color: rgb(240, 240, 240);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}

#players-container {
    margin-bottom: 20px;
    width: 100%; /* Ширина таблицы равна ширине экрана */
    order: 2; /* переместить вниз */
}

#players-table {
    margin-right:5%;
    width: 90%;
    border-collapse: collapse;
}

#players-table th, #players-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

#players-table th {
    background-color: rgb(102,1,255);
    color: #fff;
    padding: 10px;
    text-align: left;
}

#players-table th,
#players-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

#players-table tbody tr:nth-child(even) {
    background-color: rgb(102, 1, 255, 0.3);
}

#players-table tbody tr:nth-child(odd) {
    background-color: ;
}

#players-table tbody tr:hover {
    background-color: rgba(105, 0, 250, 0.7); /* При наведении курсора добавляем небольшую прозрачность к фону */
    transition: background-color 0.3s ease;
}


#players{
width:100%;
margin-bottom:2rem;
}

.player {
    position: relative;
    padding-left: 30px; /* Расстояние между иконкой и текстом */
    cursor: pointer;

    background-color: rgb(107,1,249);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

#player1_png {
    position: absolute;
    left: 13rem;
    top: 29rem;
    transform: translate(-50%, -50%); /* Центрирование по центру */
    width: 18rem; /* Ширина иконки */
    height: 35rem; /* Высота иконки */
    background-image: url('/static/image/person_right.png'); /* Путь к изображению иконки */
    background-size: contain; /* Изображение полностью вмещается в контейнер */
    background-repeat: no-repeat;

    filter: contrast(10%);
    transition: filter 1s ease;
/*    filter: drop-shadow(-1rem 1rem 0.9rem rgb(228,88,101));*/
}

#player2_png {
    position: absolute;
    right: -5rem;
    top: 29rem;
    transform: translate(-50%, -50%); /* Центрирование по центру */
    width: 18rem; /* Ширина иконки */
    height: 35rem; /* Высота иконки */
    background-image: url('/static/image/person_left.png'); /* Путь к изображению иконки */
    background-size: contain; /* Изображение полностью вмещается в контейнер */
    background-repeat: no-repeat;

    filter: contrast(10%);
    transition: filter 1s ease;
/*    filter: drop-shadow(1rem 1rem 0.9rem black);*/
}

.current-player {
    font-weight: bold;
    color: white !important;
    background-color: rgb(229, 87, 101);
}


#board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1; /* первый на странице */
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    margin-bottom: 20px;
}

#board div {
    width: 100px;
    height: 100px;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(101, 2, 253, 0.3); /* прозрачность 50% */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* тень */
    transition: background-color 0.7s ease; /* Плавное изменение цвета фона за 0.3 секунды с эффектом ease */
}

#board div:hover{
    transition: background-color 0.3s ease;
    background-color: rgb(101, 2, 253, 0.5); /* прозрачность 50% */
}

#cell-0 {
     border-top-left-radius: 10px; /* скругление для верхнего левого угла */
}
#cell-2 {
     border-top-right-radius: 10px; /* скругление для верхнего левого угла */
}
#cell-6 {
     border-bottom-left-radius: 10px; /* скругление для верхнего левого угла */
}
#cell-8 {
     border-bottom-right-radius: 10px; /* скругление для верхнего левого угла */
}

#messages {
    margin-top: 20px;
    text-align: center;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1); /* Начальный размер кнопки */
    }
    50% {
        transform: scale(1.2); /* Размер кнопки увеличивается в течение первой половины анимации */
    }
    100% {
        transform: scale(1); /* Конечный размер кнопки (возвращаемся к исходному размеру) */
    }
}

#rules-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: rgb(102, 1, 255);
    height: 3rem;
    width: 3rem;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 20px; /* отступ снизу */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* тень */
     /* Применяем анимацию с продолжительностью 1 секунда и бесконечным повторением */
}

#rules-button:hover {
    animation: scaleAnimation 1.5s infinite; /* Остановка анимации при наведении курсора */
}


#rules-button img {
    height:2rem;
    width:2rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 5px solid rgb(102, 1, 255);
    width: 80%;
    border-radius: 5px;
    position: relative;
    border-radius: 10px;
}

#rules {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 0.8rem;
    background-color: rgb(102, 1, 255);
    color: #fff;
    width: 4.5rem;
    height: 1rem; /* Исправлено опечатку в свойстве height */
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 0;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#players {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#reset-button {
    position: relative;
    padding: 10px 20px;

    background-color: rgb(7, 196, 254);
    color: #fff;
    border: none;

    border-radius: 5px;
    cursor: pointer;
}


.victory-message {
    position: fixed;
    display:none;
    top: 19rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.reset-button {
    left:25%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

