<!doctype html>
<html>
<head>
    <title>Крестики-нолики</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
</head>
<body>
   <div id="players-container">
            <table id="players-table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Games Played</th>
                        <th>Wins</th>
                    </tr>
                </thead>
                <tbody id="players-body">
                    {% for player in players %}
                    <tr>
                        <td>{{ player.username }}</td>
                        <td>{{ player.games_played }}</td>
                        <td>{{ player.wins }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
   </div>
    <h1>Добро пожаловать, {{ username }}!</h1>
    <div id="board">
        <div id="cell-0" onclick="makeMove(0)"></div>
        <div id="cell-1" onclick="makeMove(1)"></div>
        <div id="cell-2" onclick="makeMove(2)"></div>
        <div id="cell-3" onclick="makeMove(3)"></div>
        <div id="cell-4" onclick="makeMove(4)"></div>
        <div id="cell-5" onclick="makeMove(5)"></div>
        <div id="cell-6" onclick="makeMove(6)"></div>
        <div id="cell-7" onclick="makeMove(7)"></div>
        <div id="cell-8" onclick="makeMove(8)"></div>
    </div>
    <div id="messages"></div>
    <button id="rules-button" onclick="openModal()"><img src="/static/image/gear_icon.png" alt="Правила"></button>
    <div id="rules-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p id="rules">Правила</p>
            <ul>
                <li>Игроки по очереди ставят свой знак (X или O) в пустую ячейку 3x3 сетки.</li>
                <li>Первый игрок, который выстроит три своих знака в ряд (горизонтально, вертикально или диагонально), выигрывает игру.</li>
                <li>Если все ячейки заполнены, но никто не выиграл, игра считается ничьей.</li>
            </ul>
        </div>
    </div>
    <div id="players">
        <div id="player1" class="player">Ожидание игроков...</div>
        <div id="player1_png"></div>
<!--        <button id="reset-button" onclick="resetGame()" style="display: none;">Начать заново</button>-->
        <div id="player2" class="player">Ожидание игроков...</div>
        <div id="player2_png"></div>
    </div>

    <div id="victory-message" class="victory-message">
        <h1 id="message-text"></h1>
        <button id="reset-button" class="reset-button" onclick="resetGame()">Play Again</button>
    </div>


{#    <div id="players-container"></div>#}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
